version: '3.8'

services:
  meme-video-gen:
    image: meme-video-gen:latest
    build: .
    container_name: meme-video-gen-bot
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 8.8.4.4
    env_file:
      - .env
    networks:
      - meme_network
    ulimits:
      nproc:
        soft: 65535
        hard: 65535
      nofile:
        soft: 65535
        hard: 65535
    pids_limit: 512
    init: true

networks:
  meme_network:
    driver: bridge